<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 这个主要是根据实际的页面设计的主体色为搭配来进行设置。 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection"content="telephone=no, email=no" />
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app"> 
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 下面三个： 禁止浏览器缓存，项目上线的时候，记得删除 -->
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
        <title>涉及关键词</title>
        <script src="../js/changeSize.js"></script>
        <link rel="stylesheet" href="../css/swiper.min.css" />
        <link rel="stylesheet" href="../css/layer.css" />
        <link rel="stylesheet" href="../css/reset.css" />
        <link rel="stylesheet" href="../css/index.css" /> 
</head>
<body>
    <!-- page2 -->
    <div id="about-keyword">
        <div class="top clearfix">
            <a href="#" class='fl' id='prevBtn'></a>
            <nav class="fl ">
                <ul class='clearfix' id='topBar'>
                    <li>
                        <a href="#">
                            <h3>首页</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            店铺
                            <h3>Lasuvier</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            广告活动
                            <h3>裤子</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            广告组
                            <h3>裤子</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            广告
                            <h3 class='current'>FATP0832</h3>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- 右边三个点 -->
            <p class="fr" id="chooseNav">
                <span></span>
                <span></span>
                <span></span>
            </p>
        </div>
        <hr />
        <div class="con">
            <!-- 效果分析 -->
            <!-- Effect analysis  -->
            <div class="et-analysis clearfix">
                <p class="fl analyse">
                    <i></i>
                    <a href="#">效果分析</a>
                </p>
                <i class="fr" id='toggleBtn'></i>
            </div>
        </div>
        <!-- 广告详情 -->
        <div class="ad-detail" id='ad-detail'>
            <ul>
                <li class='state clearfix'>
                    <h4 class="fl">状态：</h4>
                    <div id='status' class="fl con clearfix">
                        <p class='light fl'>
                            <span></span>
                            已启动
                        </p>
                        <p class='fl'>
                            <span></span>
                            已暂停
                        </p>
                            <p class='fl'>
                            <span></span>
                            已归档
                        </p>
                    </div>
                </li>
                <li class="clearfix one-ad" >
                    <h4 class="fl">广告：</h4>
                    <div class="con clearfix fl">
                        <img src="../img/shit.png" alt="." class="fl">
                        <div class="fr face-info">
                            <p>
                                LaSuiveur Women's Christ 
                                Santa Claus Print Pullover
                            </p>
                            <p>
                                ASIN：
                                <span>B01GDQHL9M</span>
                            </p>
                            <p>
                                SKU：
                                <span>FBAPSW5042BL-S</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="clearfix">
                    <h4 class="fl">所属广告组：</h4>
                    <p class="fl con">FSTP89376FBA</p>
                </li>
                <li class="clearfix">
                    <h4 class="fl">所属活动：</h4>
                    <p class="fl con">FSTP89376FBA</p>
                </li>
                <li class="clearfix">
                    <h4 class="fl">所属店铺：</h4>
                    <p class="fl con">Lasuvier</p>
                </li>
                <li class="clearfix">
                    <h4 class="fl">投放类型：</h4>
                    <p class="fl con">手动</p>
                </li>
                <li class='btn'>
                    <button>取消</button>
                    <button>确认</button>
                </li>
            </ul>
        </div>
        <!-- base-info -->
        <div class="base-info clearfix">
            <img src="../img/shit.png" alt="商品" class="fl">
            <div >
                <h3>
                    LaSuiveur Women's 
                    Christmas Santa Claus Print Pullover Flared Dress
                </h3>
                <p>
                    ASIN：
                    <span>B01GDQHL9M</span>
                </p>
                <p>
                    SKU：
                    <span>FBAPSW5042BL-S</span>
                </p>
            </div>
            <!-- 状态 -->
            <span class="status">
                已开启
            </span>
        </div>
        <hr  style='margin-top: 0;'/>
        <!-- 搜索按钮 -->
        <div class="search">
            <i id='find'></i>
        </div>
        <!-- 涉及关键词 -->
             <!-- 涉及广告 -->
        <!-- about ad -->
        <div class="about-keyWord">
            <ul id='tab' class='tab clearfix'>
                <li class='now'>全部</li>
                <li>已启动</li>
                <li>已暂停</li>
                <li>已归档</li>
            </ul>
            <h2>
                涉及关键词
                <span>(123)</span>
            </h2>
            <!-- 关键词详情 -->
            <ul class="kw-info">
                <li><a href="#">Lasuviervier</a></li>
                <li><a href="#">fitmeevier</a></li>
                <li><a href="#">linseryvier</a></li>
                <li><a href="#">LaSuiveur_</a></li>
                <li><a href="#">Selowinvierelowinvier</a></li>
                <li><a href="#">Viottis</a></li>
                <li><a href="#">PinkWind</a></li> 
            </ul>
        </div>
    </div>

    <!-- 搜索页面 -->
    <div id="store-search" style='display: none;' >
            <!-- 搜索栏 -->
        <div class="search clearfix" id='search'>
            <i class="fl" id='return'></i> 
            <input type="text" class='fl' placeholder="请输入店铺名" />
            <span class="fl">取消</span>
        </div>
    </div>

    <!-- 遮罩层2 -->
    <div id="mask2"></div>
    <!-- 选择跳往某个页面 -->
    <nav id="cpc-all-nav">
        <ul>
            <li><a href="/index.html">首页</a></li>
            <li><a href="./ad-active.html">
            店铺：<span>Lasuvier</span>
            </a></li>
            <li><a href="./ad-group.html">
            广告活动：<span>裤子</span>
            </a></li>
            <li><a href="./ad-advert.html">
            广告组：<span>毛裤</span>
            </a></li>
            <li><a href="#">
                广告：<span>FATP0832</span>
            </a></li>
        </ul>
    </nav>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/common.js"></script>
    <script>
         // 调用common里面的tab方法
         Common.tab('tab','li','now');
        // 调用 showOrHide方法，
        Common.showOrHide('toggleBtn','ad-detail');
        Common.returnPrevPage('prevBtn');
        Common.storeSearch('find','about-keyword','store-search');
        Common.showWrap('return','about-keyword','store-search');
        Common.changeStatus();
        
        // 动态设置导航栏ul的宽度
        Common.sameNavStyle();
        Common.chooseNav('about-keyword');
    </script>
</body>
</html>